In [3]:
import pandas as pd
import numpy as np 
import datetime

In [6]:
ser1=pd.Series([5,6,7,8,9],index=dates)
ser1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
dates=pd.date_range("2022-03-01","2022-03-05")
dates

DatetimeIndex(['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-05'],
              dtype='datetime64[ns]', freq='D')

In [10]:
ser2=pd.Series(ser1, index=dates)
ser2

2022-03-01   NaN
2022-03-02   NaN
2022-03-03   NaN
2022-03-04   NaN
2022-03-05   NaN
Freq: D, dtype: float64

In [15]:
frame1=pd.DataFrame({"Series 1":ser1,
                     "Series 2":ser2})
frame1

                     Series 1  Series 2
0                         1.0       NaN
1                         2.0       NaN
2                         3.0       NaN
3                         4.0       NaN
4                         5.0       NaN
2022-03-01 00:00:00       NaN       NaN
2022-03-02 00:00:00       NaN       NaN
2022-03-03 00:00:00       NaN       NaN
2022-03-04 00:00:00       NaN       NaN
2022-03-05 00:00:00       NaN       NaN

In [16]:
frame1["Series 2"]

0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
2022-03-01 00:00:00   NaN
2022-03-02 00:00:00   NaN
2022-03-03 00:00:00   NaN
2022-03-04 00:00:00   NaN
2022-03-05 00:00:00   NaN
Name: Series 2, dtype: float64

In [20]:
frame1["Series 2"]- frame1["Series 1"]

0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
2022-03-01 00:00:00   NaN
2022-03-02 00:00:00   NaN
2022-03-03 00:00:00   NaN
2022-03-04 00:00:00   NaN
2022-03-05 00:00:00   NaN
dtype: float64

In [22]:
frame1["Differences"] = frame1["Series 2"]- frame1["Series 1"]
frame1

                     Series 1  Series 2  Differences
0                         1.0       NaN          NaN
1                         2.0       NaN          NaN
2                         3.0       NaN          NaN
3                         4.0       NaN          NaN
4                         5.0       NaN          NaN
2022-03-01 00:00:00       NaN       NaN          NaN
2022-03-02 00:00:00       NaN       NaN          NaN
2022-03-03 00:00:00       NaN       NaN          NaN
2022-03-04 00:00:00       NaN       NaN          NaN
2022-03-05 00:00:00       NaN       NaN          NaN

In [23]:
frame1.columns

Index(['Series 1', 'Series 2', 'Differences'], dtype='object')

In [24]:
frame1.index

Index([                  0,                   1,                   2,
                         3,                   4, 2022-03-01 00:00:00,
       2022-03-02 00:00:00, 2022-03-03 00:00:00, 2022-03-04 00:00:00,
       2022-03-05 00:00:00],
      dtype='object')

In [25]:
frame1["Series 1"][2:4]

2    3.0
3    4.0
Name: Series 1, dtype: float64

In [30]:
frame1["Series 1"]["2022-03-03 00-00-00"]

KeyError: '2022-03-03 00-00-00'