In [9]:
import pandas as pd
import numpy as np
import datetime

In [13]:
dates=pd.date_range("2022-03-01", "2022-03-05")
dates

DatetimeIndex(['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-05'],
              dtype='datetime64[ns]', freq='D')

In [14]:
ser1=pd.Series([1, 2, 3, 4, 5], index=dates)
ser1

2022-03-01    1
2022-03-02    2
2022-03-03    3
2022-03-04    4
2022-03-05    5
Freq: D, dtype: int64

In [15]:
ser2=pd.Series([1,2,3,4 ,5], index=dates)
ser2

2022-03-01    1
2022-03-02    2
2022-03-03    3
2022-03-04    4
2022-03-05    5
Freq: D, dtype: int64

In [19]:
frame1=pd.DataFrame(
                    {"Series 1": ser1,
                     "Series 2": ser2})
frame1

            Series 1  Series 2
2022-03-01         1         1
2022-03-02         2         2
2022-03-03         3         3
2022-03-04         4         4
2022-03-05         5         5

In [23]:
frame1["Differences"] = frame1["Series 2"] - frame1["Series 1"]
frame1

            Series 1  Series 2  Differences
2022-03-01         1         1            0
2022-03-02         2         2            0
2022-03-03         3         3            0
2022-03-04         4         4            0
2022-03-05         5         5            0

In [25]:
frame1.columns # Получить названия столбиков

Index(['Series 1', 'Series 2', 'Differences'], dtype='object')

In [26]:
frame1.index # Получить индекс

DatetimeIndex(['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-05'],
              dtype='datetime64[ns]', freq='D')

In [27]:
frame1["Series 1"][2:4] # Срез списка из Series

2022-03-03    3
2022-03-04    4
Freq: D, Name: Series 1, dtype: int64