In [52]:
import pandas as pd
import numpy as np
import datetime

In [53]:
ser1=pd.Series([1,2,3,4,5])
ser1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [54]:
dates=pd.date_range("2022-03-01", "2022-03-05")
dates

DatetimeIndex(['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-05'],
              dtype='datetime64[ns]', freq='D')

In [55]:
ser2=pd.Series([6,7,8,9,10], index=dates)
ser2

2022-03-01     6
2022-03-02     7
2022-03-03     8
2022-03-04     9
2022-03-05    10
Freq: D, dtype: int64

In [56]:
frame1=pd.DataFrame({"Series1":ser1,
                    "Series2":ser2})
frame1

                     Series1  Series2
0                        1.0      NaN
1                        2.0      NaN
2                        3.0      NaN
3                        4.0      NaN
4                        5.0      NaN
2022-03-01 00:00:00      NaN      6.0
2022-03-02 00:00:00      NaN      7.0
2022-03-03 00:00:00      NaN      8.0
2022-03-04 00:00:00      NaN      9.0
2022-03-05 00:00:00      NaN     10.0

In [60]:
frame1["Series 2"]-frame1["Seriers1"]

KeyError: 'Series 2'

In [63]:
frame1["Differences"] = frame1["Series2"]-frame1["Series1"]
frame1

                     Series1  Series2  Differences
0                        1.0      NaN          NaN
1                        2.0      NaN          NaN
2                        3.0      NaN          NaN
3                        4.0      NaN          NaN
4                        5.0      NaN          NaN
2022-03-01 00:00:00      NaN      6.0          NaN
2022-03-02 00:00:00      NaN      7.0          NaN
2022-03-03 00:00:00      NaN      8.0          NaN
2022-03-04 00:00:00      NaN      9.0          NaN
2022-03-05 00:00:00      NaN     10.0          NaN

In [62]:
frame1.index #Получить индекс

Index([                  0,                   1,                   2,
                         3,                   4, 2022-03-01 00:00:00,
       2022-03-02 00:00:00, 2022-03-03 00:00:00, 2022-03-04 00:00:00,
       2022-03-05 00:00:00],
      dtype='object')

In [67]:
frame1.columns #Получить название столбцов

Index(['Series1', 'Series2', 'Differences'], dtype='object')

In [70]:
frame1["Series1"][2:4] #Срез (slice) списка из Series

2    3.0
3    4.0
Name: Series1, dtype: float64

In [71]:
frame1["Series 1"]["2022-03-03"]#Обращение к элементу Series по тндексу

KeyError: 'Series 1'